@charset "UTF-8";
/* CSS Document */

#navWrapperWrapper {
	position: static;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

#navWrapper {
	width: length;
	padding-right: 70px;
}

#navList {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	list-style-type: none;
	text-align: center;
	margin: 5px;
	padding: 0;
}

.navItem {
	display: inline-block;
	padding: 10px;
	font-size: 25px;
}

.navItem a {
	-webkit-text-stroke: 1.5px black;
	color: white;
}

.navItem:hover {
	background-color: #EEEEEE;
	color: white;
}

#mainHeading {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 75px;
	margin-top: 150px;
	-webkit-text-stroke: 2px black;
	color: #EEEEEE
}

#headTop {
	background-image: url("images/top_h6.png");
	background-color: #4DB8CD;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

#headMiddle {
	background-image: url("images/mid_h2.png");
	background-color: #0A0C23;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#headBottom {
	background-image: url("images/bottom_h4.png");
	background-color: #0A0C23;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#governmentName {
	font-size: 24px;
	position: absolute;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	-webkit-text-stroke: 2px black;
	color: #EEEEEE;
	left: 50px;
}

#specialties {
	font-size: 24px;
	position: absolute;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	-webkit-text-stroke: 2px black;
	color: #EEEEEE;
	right: 150px;
}

#tagLine {
	font-size: 24px;
	position: absolute;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	-webkit-text-stroke: 2px black;
	color: #EEEEEE;
	left: 50px;
	top: auto;
}

footer ul {
	list-style-type: none;
	display: inline-flex;
}

footer ul li {
	padding: 15px;
}

#footerWrapper {
	text-align: right;
}

#copyright {
	text-align: right;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	display: inline-flex;
	font-size: 14px;
	padding: 0 5px 0 50px;
	
}